  <header>
    <div>
      <h1>BucketLists</h1>
    </div>
  </header> 

  <div>
    <label>New</label><br>
   	<input [(ngModel)] = "name">
    <button class="create" (click)="onAddBucket(name)">Submit</button>
  </div>

  <section class="main" *ngIf="buckets.length > 0">
    <ul class="bucket-list">
      <li *ngFor="let bucket of buckets">

        <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{bucket.name}}</span>
            </div>
            <div class="card-content">
              <span>
                <ul class="items">
                  <li *ngFor="let item of items">
                    <label>{{bucket.items}}</label>
                      <input class="update" [(ngModel)] = "editName" *ngIf="editMode">
                      <button class="update"  *ngIf="!editMode" (click)="editMode=true;">Edit</button>
                      <button class="update"  *ngIf="editMode" (click)="onUpdateBucket(editName, bucket.id)"> Submit </button>
                      <button class="destroy" (click)="onRemoveBucket(bucket.id)">Delete</button>
                  </li>
                </ul>
              </span>
            </div>
            <div class="card-action">
                <input class="update" [(ngModel)] = "editName" *ngIf="editMode">
                <button class="update"  *ngIf="!editMode" (click)="editMode=true;">Edit</button>
                <button class="update"  *ngIf="editMode" (click)="onUpdateBucket(editName, bucket.id)"> Submit </button>
                <button class="destroy" (click)="onRemoveBucket(bucket.id)">Delete</button>
            </div>
          </div>
        </div>
      </div>
            


<!--       <div class="card">
  		  <label>{{bucket.name}}</label>
  		  <input class="update" [(ngModel)] = "editName" *ngIf="editMode">
  		  <button class="update"  *ngIf="!editMode" (click)="editMode=true;">Edit</button>
  		  <button class="update"  *ngIf="editMode" (click)="onUpdateBucket(editName, bucket.id)"> Submit </button>
  		  <button class="destroy" (click)="onRemoveBucket(bucket.id)">Delete</button>
	    </div> -->
      </li>
    </ul>
  </section>
        
<footer>
    <div>
    <button class="previous" (click)="onPrevious()">Previous</button>
    <button class="next" (click)="onNext()">Next</button>
  </div>
</footer>

