  <header>
    <div class="nav-wrapper">
      <nav class="blue">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons" (click)="onSearch(searchTerm)">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
          <a class="waves-effect waves-light btn right cyan" (click)="logOut()">LogOut</a>
      </nav>
      <h3 class="text-muted center">Bucketee</h3>
    </div>
  </header> 

  <div>
    <label>New Bucket</label><br>
   	<input [(ngModel)] = "name">
    <button class="create cyan" (click)="onAddBucket(name)">Submit</button>
  </div>
  <div class="container">
  <section class="main" *ngIf="buckets.length > 0">
    <ul class="bucket-list">
        <div class="row">
        <li *ngFor="let bucket of buckets">
        <div class="col s12 m6 l8">
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title"><button (click)="onGetBucket(bucket.id)">{{bucket.name}}</button></span>
            </div>

            <div class="card-action">
                <input class="update" [(ngModel)] = "editName" *ngIf="editMode&&selectedId">
                <button class="update"  *ngIf="!editMode" (click)="editMode=true;">Edit</button>
                <button class="update"  *ngIf="editMode" (click)="onUpdateBucket(editName, bucket.id)"> Submit </button>
                <button class="destroy right" (click)="onRemoveBucket(bucket.id)">Delete</button> 
            </div>
          </div>
        </div>
      </li>
      </div>            
    </ul>
  </section>
  </div>
        
  <div class="container">
  <ul class="pagination">
    <li class="disabled">
    <a class="waves-effect waves-light btn cyan" (click)="onPrevious()">
    <i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect"><a href="#">1</a></li>
    <li class="waves-effect"><a href="#">2</a></li>
    <li class="waves-effect"><a href="#">3</a></li>
    <li>
    <a class="waves-effect waves-light btn cyan" (click)="onNext()">
    <i class="material-icons">chevron_right</i></a></li>
  </ul>
  </div>

<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"> Details </h5>
        <p class="grey-text text-lighten-4">
          More awesome details about Bucketee
        </p>
      </div>
      <div class="col l4 offset-12 s12">
        <h5 class="white-text"> Links </h5>
      </div>
    </div>
  </div>
  <div class="footer-copywright">
    <div class="container">
    © 2017 Copyright Text
    </div>
  </div>
</footer>

