  <header style="padding-bottom: 50px;">
    <div class="nav-wrapper">
      <nav class="blue">
	    <div class="nav-wrapper">
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
          <a class="waves-effect waves-light btn cyan" (click)="onLogin()">SignIn</a>
          </li>	        
          <li>
          <a class="waves-effect waves-light btn cyan" (click)="onRegister()">SignUp</a>
	        </li>
	      </ul>
	    </div>
      </nav>
    </div>
  </header> 

<div class="container" style="padding-bottom: 50px;">
<div class="row">
  <div class="col s4" style="padding: 50px;">
    <div>
      <i class="large material-icons">list</i>
    </div>
    <div>
      <h4>
      Plan your vacation here
      </h4>
    </div>
    <div>
      <span>
      Planning a vacation has never been easier!
      </span>
    </div>
  </div>
  <div class="col s4" style="padding: 50px;">
    <div>
      <i class="large material-icons">contacts</i>
    </div>
    <div>
      <h4>
        User Experience Focused
      </h4>
    </div>
    <div>
      <span>
        At Bucketee, we are user oriented. We want the user to have the best experience!
      </span>
    </div>
  </div>
  <div class="col s4" style="padding: 50px;">
    <div>
      <i class="large material-icons">stars</i>
    </div>
    <div>
      <h4>
        Easy to work with
      </h4>
    </div>
    <div>
      <span>
        We have provided detailed documentation to help new Bucketee users to use it.
      </span>
    </div>
  </div>
</div>
</div>

<footer class="page-footer blue" style="padding-top: 50px;">
   <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h4 class="white-text"> Details </h4>
              <p class="grey-text text-lighten-4">
                More awesome details about Bucketee
              </p>
            </div>
            <div class="col l4 offset-12 s12">
              <h4 class="white-text"> Links </h4>
            </div>
          </div>
        </div>
  <div class="footer-copywright">
    <div class="container white-text center">
    © 2017 Copyright Text
    </div>
  </div>
</footer>