  <header>
    <div class="nav-wrapper">
      <nav class="blue">
	    <div class="nav-wrapper">
	      <ul id="nav-mobile" class="right hide-on-med-and-down">       
          <li>
          <a class="waves-effect waves-light btn right cyan" (click)="logOut()">LogOut</a>
	        </li>
	      </ul>
	    </div>
      </nav>
    </div>
  </header> 

  <div>
    <label>New Item</label><br>
    <input [(ngModel)] = "name">
    <button class="create cyan" (click)="onAddItem(bucketId, name)">Submit</button>
  </div>


<section class="main" *ngIf="bucket.items.length > 0">
    <ul class="items-list">
        <div class="row">
        <li *ngFor="let item of bucket.items">
        <div class="col s12 m6 l8">
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title"><button (click)="onGetBucket(bucket.id)">{{item.name}}</button></span>
            </div>

            <div class="card-action">
                <input class="update" [(ngModel)] = "editName" *ngIf="editMode&&selectedId">
                <button class="update"  *ngIf="!editMode" (click)="editMode=true;">Edit</button>
                <button class="update"  *ngIf="editMode" (click)="onUpdateItem(bucket.id, editName, item.id)"> Submit </button>
                <button class="destroy right" (click)="onRemoveItem(bucket.id, item.id)">Delete</button> 
            </div>
          </div>
        </div>
      </li>
      </div>            
    </ul>
  </section>

<footer class="page-footer blue">
   <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text"> Details </h5>
              <p class="grey-text text-lighten-4">
                More awesome details about Bucketee
              </p>
            </div>
            <div class="col l4 offset-12 s12">
              <h5 class="white-text"> Links </h5>
            </div>
          </div>
        </div>
  <div class="footer-copywright">
    <div class="container">
    © 2017 Copyright Text
    </div>
  </div>
</footer>